<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <p>&#9775; Desarrollador: Alexandra Marulanda</p>
            <p>&phone; Celular: 3207365361</p>
            <p>&commat; E-mail: Jamarulandamo@cesde.net</p>
        </div>
        <div class="col-12 col-md-4">
            <iframe src="https://www.google.com/maps/place/Caldas/@5.2904847,-75.5548037,10z/data=!3m1!4b1!4m6!3m5!1s0x8e473d9c128bde71:0x680d4e47949c9e8c!8m2!3d5.29826!4d-75.2479061!16zL20vMDJ0OXM5" class="w-100" height="400"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-12 col-md-4 text-center">
            <p>Redes Sociales: </p>
            <p><img src="../../assets/img/fb.png" alt="fb"> Facebook: Jenmar</p>
            <p><img src="../../assets/img/ig.png" alt="ig"> Instagram: Jenmarmo</p>
            <p><img src="../../assets/img/wp.png" alt="wp"> WhatsApp: 57 3207365361</p>
        </div>
    </div>
</div>